:root {
  --color-primary: #2e7cc5;
  font-size: 16px;
}

body {
  font-family: sans-serif;
  margin: 0;
  min-width: 360px;
  padding-bottom: 65px; /* for bottom fixed form buttons */
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

/* ---------------------------- Search form ---------------------------- */

#search-form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 1000px) {
  #search-form {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form-input {
  margin-bottom: 1rem;
  min-width: 150px;
}

.form-input > label:first-of-type {
  display: inline-block;
  margin-bottom: .3rem;
}

.form-buttons {
  background: #fff;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1;
}

/* ---------------------------- Buttons ---------------------------- */

button {
  background: var(--color-primary);
  border: none;
  border-radius: .2rem;
  color: #fff;
  cursor: pointer;
  padding: .5rem .8rem;
}

button:disabled {
  cursor: not-allowed;
  opacity: .7;
}

/* ---------------------------- Text inputs ---------------------------- */

input[type=text] {
  border: 1px solid #ddd;
  border-radius: .2rem;
  padding: .5rem;
  width: 80%;
}

input::placeholder {
  color: #ccc;
}

/* ---------------------------- Checkboxes ---------------------------- */

input[type=checkbox] + label {
  cursor: pointer;
  display: inline-block;
  margin-right: .5rem;
  margin-top: .4rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  box-shadow: 0 3px 6px -3px #bbb;
  color: transparent;
  content: "\2714";
  display: inline-block;
  font-size: 13px;
  height: 18px;
  margin-right: .2rem;
  text-indent: 3px;
  width: 18px;
}

input[type=checkbox]:checked + label:before {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

/* ---------------------------- Search result ---------------------------- */

.search-result {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* ---------------------------- User cards ---------------------------- */

.user-card {
  border: 1px solid #f1f1f1;
  border-radius: .5rem;
  display: block;
  text-decoration: none;
}

.user-card:hover,
.user-card:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.user-card__photo {
  position: relative;
}

.user-card__photo img {
  border-radius: .5rem .5rem 0 0;
  width: 100%;
}

.user-card__photo__counter {
  background: rgba(0, 0, 0, .7);
  bottom: .7rem;
  color: white;
  font-size: 1rem;
  left: .7rem;
  padding: .3rem .5rem;
  position: absolute;
}

.user-card__name {
  color: black;
  font-size: 1.3rem;
  margin: .2rem .5rem;
}

.user-card__location {
  color: gray;
  font-size: .8rem;
  margin: .2rem .5rem .5rem .5rem;
}

/* ---------------------------- noUiSlider overwrite ---------------------------- */

.noUi-connect {
  background: var(--color-primary);
}

.noUi-target {
  border: none;
  box-shadow: inset 0 1px 1px #d6d6d6, 0 3px 6px -5px #a7a7a7;
}

.noUi-tooltip {
  background: none;
  border: none;
  font-size: .7rem;
  padding: 0;
}

.noUi-handle {
  cursor: pointer;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.noUi-handle:focus {
  outline: none;
}

.noUi-horizontal {
  height: 2px;
  margin: 25px 0 10px 0;
}

.noUi-horizontal .noUi-handle {
  border-radius: 100%;
  box-shadow: 0 3px 6px -3px #bbb;
  height: 22px;
  left: -10px;
  top: -10px;
  width: 22px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -10px;
}
